<h3>Listado de articulos (Filtrados)</h3>

<table class="table ">
    <thead>
      <tr>        
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col">Unidades</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    @for(articulo of articulos; track articulo.id){
        <tr>
            <td>{{articulo.id}}</td>
            <td>{{articulo.nombre}}</td>
            <td>{{articulo.descripcion}}</td>
            <td>{{articulo.precio}}</td>
            <td>{{articulo.unidades}}</td>     
            <td>
              <button class="btn btn-success"
                routerLink = "/articulo/{{articulo.id}}">Ver Articulo
              </button>     
            </td>
        </tr>
    }@empty{
        <div class="alert alert-danger">No hay articulos</div>
    }
    </tbody>
</table>
<div class="text-center">
<button class="btn btn-primary" (click)="volver()">Volver</button>
</div>

